
.footer-logo{
  height: 90px !important;
  width: auto;
  margin: 0 !important;
}

.content-centered{
  text-align: center;
}

.landing-header{
  padding-bottom: 120px !important;

}

.landing-icon{
  height: 40px !important;
  width: 40px !important;
}

.people-graphics{
  padding-top: 120px;
}
